/* colors
background blue  #3437eb
POW Orange :  #d46e08
text dark gray : #121212
*/
/*  */
/* Fonts:
font-family: 'Anton', sans-serif;
font-family: 'Bangers', sans-serif;
font-family: 'Shadows Into Light', cursive; */

html,body{
  width: 100%;
  height:100%;
  /* background: linear-gradient(to right, #6e84f5,#1439f5,#034efc,#1439f5,#53aedb); */
text-align: center;
background: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
background-attachment: fixed;
}

h1{
  /* margin-top: 0; */

}
#title-div{
  padding:15px;
  text-align: center;
  width:90vw;
  margin: auto;
}
#action{
  width: 30vmax;
  min-width: 150px;
  max-width: 500px;
margin-bottom: 0
}


#title{
  font-size: 1.9rem;
  color: white;
margin-top: 10px;
margin-bottom: 40px;
font-style: italic;
text-shadow: 0 0 5px black
}
@media(max-width:900px){
  #title{
    font-size: 1.5rem;

  }
}
.orange-black-border{
  color:
#e38605;
text-shadow: 1px 1px 2px black;
}
.anton{
  font-family: 'Anton', sans-serif;
}
.no-top-margin{
  margin-top: 0;
}
.container{
color:#fff;
letter-spacing: 2px;
font-weight: lighter;
text-shadow: 1px 1px 1px black;
width:70vw;

margin: auto;
font-family:'Shadows Into Light', sans-serif;
border: 2px solid black;
padding: 15px;
background-color: #0d374d;
padding-bottom: 40px;
/* background-image: linear-gradient( 135deg, #97ABFF 1%, #123597 100%); */
box-shadow: 1px 1px 3px black;
}
/* completed list houses the completed items. It will be styled as having padding at the top to separate
it visually from the mian list, and will be indented */

.input-container{
  width:50vw;
margin: auto;
}
#inputField{
  width: 32vw;
min-width: 150px;
  height: 50px;
  border: 1px solid black;
  font-size:1.2rem;
  vertical-align: middle;
   font-family:'Anton', sans-serif;
}
#addToDo{
  width:6vw;
  max-width:50px;
  min-width:35px;
  max-height:40px;
  min-height:35px;
  height:50px;
  padding:5px;
  font-size:1.4rem;
  font-weight: 600;
  border: 1px solid white;
text-align: center;
background-color:#e38605;
color: black;
border-radius: 20%;
}
@media(max-width:283px){
  #addToDo{
    margin-top:5px;
  }
}
.to-dos{
  margin-top:40px;
border-top: 1px solid white;
}

.checkbox{
  width:1vw;
  max-width:30px;
  min-width:20px;
  max-height:30px;
  min-height:20px;

  border-radius: 50%;
margin-right: 5px;
}
/* checked-off checks the button with the black br */
.checked-off{
  background-color: black;
  margin-left: 20px;
}
/* crosses and grays out text */
.completed-task{
  color: #e38605;
  text-decoration: line-through;
}


/* Here, delete-btn appears only when hovering over the paragraph element, which always has class paragrtaph styling whether completed or not */
.inviso{
  display: none
}
.delete-btn{
  text-align: center;
  font-weight: bold;
  background-color: #c4142e;
  color:#fff;
  width:1vw;
  max-width:25px;
  min-width:18px;
  max-height:25px;
  min-height:18px;
  border-radius: 50%;
  margin-right: 15px;
  margin-left: 15px;
padding:3px;
  opacity: 70%;
  border: 1px solid white;
}
.delete-btn:hover{
  opacity: 100%;
text-shadow: 0 0 3px white;
}
.paragraph-styling{
  margin:0;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: left;
  /* text-shadow: 1px 1px 1px black; */
}
.paragraph-styling:hover + .delete{

}
#complete-list{
  padding-top: 25px;
  padding-left: 15px;

}
#wipe-button{
margin-top: 30px;
  padding:6px;
  font-size:1.4rem;
  font-weight: 600;
  border: 1px solid white;
text-align: center;
background-color:#e38605;
color: black;
/* border-radius: 20%; */
}
